extends ../layout

block content
    div(class="main")
        table(width="100%")
            tr
                td
                    h1
                        span(class="glyphicon glyphicon-list-alt")
                        | &nbsp;메뉴판
                td(align="right")
                    a(type="button" class="btn btn-primary btn-lg" href="/menus/new" data-toggle="modal" data-target="#menuModal") 
                        span(class="glyphicon glyphicon-plus")
                        b  새 메뉴
        each menu in menus
            div(class="panel panel-default")
                div(class="panel-heading")
                    span(class="lead") #{menu.name}
                div(class="panel-body")
                    div(align="right")
                        div(class="btn-group")
                            a(class="btn btn-success btn-sm" onclick="onOrder('" + menu._id + "');") 
                                span(class="glyphicon glyphicon-earphone")
                                b  주문하기
                            a(class="btn btn-default btn-sm" href="/menus/" + menu._id + "/edit" data-toggle="modal" data-target="#menuModal") 
                                span(class="glyphicon glyphicon-edit")
                                |  수정
                            a(class="btn btn-default btn-sm" onclick="onDelete('" + menu._id + "');") 
                                span(class="glyphicon glyphicon-remove")
                                |  삭제
                    p
                    a(href="/images/menus/" + menu.image)
                        img(src="/images/menus/" + menu.image class="img-responsive img-rounded")
                    p #{menu.desc}
                table(class="table")
                    tr
                        td
                            form(role="form" method="post" action="/menus/" + menu._id + "/comment")
                                table(width="100%")
                                    tr
                                        td
                                            input(type="text" class="form-control input-sm" name="comment" placeholder="댓글 달기")
                                        td(width="5px")
                                        td(width="1px")
                                            button(type="submit" class="btn btn-default btn-sm") 쓰기
                    if menu.comments 
                        each comment in menu.comments
                            tr
                                td
                                    b(class="text-primary") #{comment.name}
                                    |  #{comment.text}

    form(id="orderForm" role="form" method="post" action="/orders/create")
        input(id="orderMenuId" type="hidden" name="menuId")
    div(class="modal fade" id="menuModal" role="dialog")
        div(class="modal-dialog")
            div(class="modal-content" id="menuModalContent")
    div(class="modal fade" id="yesnoModal" role="dialog")
        div(class="modal-dialog modal-sm")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h3(class="modal-title") 삭제
                div(class="modal-body")
                    | 진짜 삭제 하시겠습니까?
                div(class="modal-footer")
                    form(role="form" id="yesnoForm" method="post")
                        input(type="hidden" name="_method" value="delete")
                        button(type="button" class="btn btn-default" data-dismiss="modal") 취소
                        button(type="submit" class="btn btn-primary") 삭제

    script(type="text/javascript").
        function onOrder(_id) {
            $('#orderMenuId').val(_id);
            $('#orderForm').submit();
        }
        function onDelete(_id) {
            $('#yesnoForm').attr('action', '/menus/' + _id);
            $('#yesnoModal').modal();
        }
        $('#menuModal').on('hidden.bs.modal', function (e) {
            $(e.target).removeData('bs.modal');
        });