extends ../layout

block content
    div(class="main")
        h1 주문
        each order in orders
            div(class="media")
                div(class="pull-left" style="height: 128px; width: 128px;")
                    a(href="/images/menus/" + order.menu.image)
                        img(class="media-object img-responsive" src="/images/menus/" + order.menu.image)
                div(class="media-body" style="overflow: hidden; text-overflow: ellipsis; max-height: 128px;")
                    h3(class="media-heading") #{order.menu.name}
                    | #{order.menu.desc}
